* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Arial';
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #008148;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* code for the nav bar is commented out - I do not want it */

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #034732;
  height: 70px;
  
 
}

/* Style the navigation bar links */
.navbar a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  
  
}
/* Styles the buttons within the navbar */
.button{
    background-color: #C6C013;
    border-color: #C6C013;
    height: 70px;
    padding: 0 15px;
    border-radius: 3px;
    line-height: 70px; 
   
  }

  .navbar a:first-child.button{
    margin-left: 7px;
  }

/* Change color on hover */
.navbar a:hover {
  background-color: #EF8a17;
  /* background-color: #EF2917; */
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /*IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
/* Style for text box buttons */
.red_box{
  vertical-align: top;
  background-color:#EF2917;
  border-color: #EF2917;
  border-style: solid;
  border-radius: 3px;
  width: 250px;
  height: 200px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}

.red_box a{
  display:  inline-flex;
  border-color: #EF2917;
  color: white;
  text-decoration: none;
}

.orange_box {
  vertical-align: top;
  background-color:#EF8a17;
  border-color: #EF8a17;
  border-style: solid;
  border-radius: 3px;
  width: 250px;
  height: 200px;
  font-size: 30px;
  align-items: center;
  justify-content: center;

}

.orange_box a{
  display:  inline-flex;
  border-color: #EF8a17;
  color: white;
  border-radius: 3px;
  text-decoration: none;
}
/* .mainpage{
  display: block;
  background-color: white;
  align-items: center;
} */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
/* .side {
  -ms-flex: 30%; /* IE10 */
  /* flex: 30%; */
  /* background-color: #f1f1f1; */
  /* padding: 20px; */
/* } */ */

/* Main column */
/* .main {   
  -ms-flex: 70%; /* IE10 */
  /* flex: 70%; */
  /* background-color: white; */
  /* padding: 20px; */
/* }  */

/* Footer
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
} */

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
} */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  } */


/* have no text entered for the nav bar on purpose */